.DS_Store
node_modules
/frontend/dist
/frontend/.env.local
yarn-error.log
python-backend/dev.db*
python-backend/__pycache__
*.pyc
__pycache__
venv/
python-backend/__pycache__/*
python-backend/templates/*
frontend/dist
frontend/package-lock.json
env/
python-backend/images/*
