main > canvas {
	cursor: cell;
}

canvas.drawing {
	cursor: crosshair;
}

canvas + span.brush {
	display: none;
	position: absolute;
	aspect-ratio: 1;
	border: 1px solid blue;
	border-radius: 100%;
	pointer-events: none;
}

canvas:hover + span.brush {
	display: block;
}

span.brush[hidden] {
	visibility: hidden;
}
